<div class="list-wrapper">
  <div id="left" class="container">
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, nesciunt
      doloremque? Aperiam fuga ipsam sed quae, adipisci impedit consequatur
      dolorem incidunt tenetur ea esse laboriosam rerum voluptatibus, voluptas
      deleniti. Saepe.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, nesciunt
      doloremque? Aperiam fuga ipsam sed quae, adipisci impedit consequatur
      dolorem incidunt tenetur ea esse laboriosam rerum voluptatibus, voluptas
      deleniti. Saepe.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, nesciunt
      doloremque? Aperiam fuga ipsam sed quae, adipisci impedit consequatur
      dolorem incidunt tenetur ea esse laboriosam rerum voluptatibus, voluptas
      deleniti. Saepe.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, nesciunt
      doloremque? Aperiam fuga ipsam sed quae, adipisci impedit consequatur
      dolorem incidunt tenetur ea esse laboriosam rerum voluptatibus, voluptas
      deleniti. Saepe.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, nesciunt
      doloremque? Aperiam fuga ipsam sed quae, adipisci impedit consequatur
      dolorem incidunt tenetur ea esse laboriosam rerum voluptatibus, voluptas
      deleniti. Saepe.
    </div>
  </div>
  <div id="right" class="container">
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
      incidunt nulla deleniti, harum exercitationem temporibus tempora provident
      qui accusantium, sed vero! Natus dolorum quia facere ut deserunt animi,
      tempora fugiat!
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
      incidunt nulla deleniti, harum exercitationem temporibus tempora provident
      qui accusantium, sed vero! Natus dolorum quia facere ut deserunt animi,
      tempora fugiat!
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
      incidunt nulla deleniti, harum exercitationem temporibus tempora provident
      qui accusantium, sed vero! Natus dolorum quia facere ut deserunt animi,
      tempora fugiat!
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
      incidunt nulla deleniti, harum exercitationem temporibus tempora provident
      qui accusantium, sed vero! Natus dolorum quia facere ut deserunt animi,
      tempora fugiat!
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
      incidunt nulla deleniti, harum exercitationem temporibus tempora provident
      qui accusantium, sed vero! Natus dolorum quia facere ut deserunt animi,
      tempora fugiat!
    </div>
  </div>
</div>
