<!-- <div class="wrapper">
  <div class="group" *ngFor="let group of dataWithSubGroup">
    <div>{{ group.label }}</div>
    <div *ngIf="group.subGroup && group.subGroup.length > 0">
      <div *ngFor="let subgroup of group.subGroup">
        <div>{{ subgroup.label }}</div>
        <div>Data Goes Here..</div>
      </div>
    </div>
    <div *ngIf="!group.subGroup || group.subGroup.length === 0">
      Data Goes here...
    </div>
  </div>
</div> -->
<app-drag-drop></app-drag-drop>

<app-display-group [dataWithSubGroup]="dataWithoutSubGroup"></app-display-group>
